body {
	background-color: #FFF500;
	font-family: Trebuchet MS;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-between;
  
  padding: 0;
  margin: 10px;
}

.bagian-kiri {
	float: left;
	width: 700px;
	margin: 10px;
}

.bagian-kanan {
	float: right;
	width: 280px;
}

.visual {
	position: absolute;
	width: 700px;
	height: 160px;
	left: 10px;
	top: 10px;
}

.foto-sampul {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.foto-profil-container {
	padding: 3px;
	background-color: white;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 10px;
	bottom: 10px;
}

.foto-profil {
	position: absolute;
	width: 60px;
	height: 60px;
}

.nama-keterangan {
	position: absolute;
	width: 200px;
	height: 40px;
	left: 80px;
	bottom: 10px;
}

.nama {
	position: absolute;
	width: 100px;
	height: 20px;
	
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}

.keterangan {
	position: absolute;
	width: 200px;
	height: 14px;
	left: 0px;
	bottom: 0px;

	font-size: 12px;
	line-height: 14px;

	display: flex;
	align-items: center;
}

.tentang {
	background-color: white;
	position: absolute;
	width: 700px;
	height: 90px;
	left: 10px;
	top: 180px;
}

.nama-subbagian {
	position: absolute;
	width: 60px;
	height: 20px;
	margin: 10px;

	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.subbagian {
	background-color: #F4F4F4;
	position: absolute;
	width: 100%;
	height: calc(100% - 40px);
	left: 0px;
	bottom: 0px;
}

.isi-tentang {
	position: absolute;
	width: 680px;
	height: 45px;
	left: 10px;
	bottom: 10px;

	font-size: 12px;
	line-height: 14px;
}

.pengalaman {
	background-color: white;
	position: absolute;
	width: 700px;
	height: 310px;
	left: 10px;
	top: 280px;
}

.nama-subpengalaman {
	position: absolute;
	width: 100px;
	height: 20px;
	left: calc(50% - 100px/2);
	top: 10px;

	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.info-subpengalaman-container {
	background-color: white;
	border: 1px solid black;
	position: absolute;
	width: 335px;
	height: 80px;
}

.info-subpengalaman-image {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: 10px;
}

.subpengalaman-keterangan-container {
	position: absolute;
	width: 245px;
	height: 60px;
	left: 80px;
	top: 10px;
}

.subpengalaman-keterangan-nama {
	position: absolute;
	width: 245px;
	height: 15px;

	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.subpengalaman-keterangan-tahun {
	position: absolute;
	width: 100px;
	height: 15px;
	top: 20px;

	font-size: 12px;
	line-height: 14px;
}

.subpengalaman-keterangan-tentang {
	position: absolute;
	width: 245px;
	height: 25px;
	top: 35px;

	font-style: italic;
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
}

.koneksi {
	background-color: white;
	position: absolute;
	width: calc(100% - 730px);
	height: 220px;
	right: 10px;
	top: 10px;
}

.clip-koneksi {
	width: 70px;
	height: 70px;
	margin: 10px;
	object-fit: cover;
	clip-path: circle(35px at center);
}

.kontak {
	background-color: white;
	position: absolute;
	width: calc(100% - 730px);
	height: 130px;
	right: 10px;
	top: 240px;
}

.ikon-kontak {
	width: 70px;
	height: 70px;
	margin: 10px;
	object-fit: cover;
}

/*
.profil-visual {
	background-color: black;
	position: relative;
	overflow: auto;
	height: 160px;
}

.tempat-foto {
	background-color: black;
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 100px;
	height: 100px;
	border: 3px solid #FFFFFF;
}

.foto-sampul {
	width: 100%;
	height: 100%;
	object-fit: none;
}

.foto-profil {
	width: 100%;
	height: 100%;
}

.nama-keterangan {
	color: white;
	position: absolute;
	left: 120px;
	bottom: 10px;
}

.bio-singkat {
	background-color: #CECDCE;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.pengalaman {
	background-color: #CECDCE;
	padding-bottom: 10px;
	max-height: 420px;
}

.pengalaman-extended {
	background-color: #8B8C8B;
	width: 680px;
	padding-bottom: 10px;
	overflow: auto;
}

.info-pengalaman {
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 80px;
	overflow: auto;
}

.foto-info {
	float: left;
	width: 60px;
	height: 60px;
	margin: 10px;
}

.keterangan-info {
	float: left;
}

.koneksi {
	background-color: #CECDCE;
	max-height: 300px;
}

.foto-koneksi {
	border-radius: 100%;
}

.geser-kanan-10px {
	margin-left: 10px;
}

.judul {
	font-weight: bold;
}
*/